:root {
  --quarto-hl-fu-color: var(--quarto-body-color);
}

.slide-menu-button .fa-bars::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(0,0,0,0.4)" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>') !important;
}

.has-dark-background .slide-menu-button .fa-bars::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(255,255,255,0.4)" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>') !important;
}

.slide-number a {
  color: rgba(0, 0, 0, 0.4) !important;
}

.has-dark-background .slide-number a {
  color: rgba(255, 255, 255, 0.4) !important;
}

.slide-code h2 {
  font-size: 1.1em !important;
  font-weight: normal !important;
}

.slide-code p {
  margin-top: 0 !important;
}

.slide ol {
  padding-left: 0.25em;
}

.slide-code img {
  margin: 0 !important;
  margin-right: 10px !important;
  border-radius: 5px;
}

.slide img.radius {
  border-radius: 5px;
}

.reveal.overview .slides section.present,
.reveal.overview .slides section.present:hover {
  outline-width: 40px;
  outline-color: #333;
  outline-style: double;
}

.reveal.overview .slides section:hover {
  outline-width: 10px;
}

.reveal small {
  vertical-align: middle;
}

.reveal blockquote {
  padding-top: 0;
  padding-bottom: 0;
}

.reveal .slide.quote-italic blockquote {
  font-style: italic;
  margin-left: 0.7em !important;
}

.reveal .slide.has-dark-background blockquote {
  border-color: rgba(255, 255, 255, 0.4);
}

.reveal div.columns {
  display: flex;
}

.reveal a.underline {
  border-bottom: 1px solid var(--r-link-color);
}

a code {
  font-size: 28px;
}

figcaption {
  font-size: 80%;
  font-style: italic;
  text-align: center;
  opacity: 0.7;
}

.slide-code figure {
  display: inline-block;
}

.slide-code figcaption {
  font-size: 0.5em !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 1em 0 1em;
}

.text-white * {
  color: white !important;
}

.text-white aside {
  color: white !important;
  opacity: 0.8;
}

.has-dark-background .footer,
.has-dark-background .footer a {
  color: white !important
}

.text-white pre {
  background: transparent !important;
  border: 1px solid #F7FAFC;
  border-radius: 5px;
  padding: 10px 20px;
  width: 90%;
}

.text-white code {
  background: transparent !important;
}

.center-horizontal * {
  text-align: center !important;
}

.center-horizontal iframe,
.center-horizontal img {
  margin: 0 auto;
  display: block;
}

.progress {
  color: #dc143c !important;
}

div.cell {
  margin-top: 20px !important;
}

div.sourceCode {
  border: 0 !important;
  margin-bottom: 20px !important;
}

div.sourceCode pre {
  /* background-color: #ccdbdf; */
  background-color: hsl(0, 0%, 96%);
  padding: 20px;
}

.slide-grey div.sourceCode pre {
  background-color: #fff;
}

div.sourceCode pre code {
  background: transparent !important;
}

.slide-code .column-output-location .column:first-of-type div.sourceCode {
  background-color: transparent;
  height: auto;
}

.slide-code-wide .column:first-child {
  width: 60%;
}

.slide-code-wide .cell-output-stdout pre {
  border-radius: 5px;
}

.slide-code-wide .cell-output-stdout pre code {
  background-color: transparent;
}

.slide-code-wide .cell-output-display img {
  max-width: 100%;
  max-height: 100%;
}

.cell-output {
  font-size: 80%;
  margin-bottom: 20px;
}

.slide.smaller .cell-output {
  font-size: 100% !important;
}

table.dataframe {
  font-size: 80%;
  font-family: monospace;
  margin-left: 0;
  vertical-align: top;
}

table.dataframe.small {
  font-size: 70%;
}

table.dataframe td {
  vertical-align: top;
}

table.dataframe.align-left thead th,
table.dataframe.align-left thead td {
  text-align: left !important;
}


table.dataframe caption {
  color: #fff;
  background-color: #333;
  font-weight: bold;
  text-align: left;
  text-wrap: nowrap;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 5px;
}

.columns .column+.column {
  margin-left: 20px;
}

img.icon {
  width: 40px;
  height: 40px;
  margin: 0px 5px 0 0 !important;
  top: 10px;
  display: inline-block;
  position: relative;
}

img.icon.small {
  width: 25px;
  height: 25px;
  top: 2px;
}

img.border {
  border: 1px solid #CBD5E0;
  border-radius: 5px;
}

.has-dark-background .footer {
  opacity: 0.7;
}

.slide aside div+div {
  margin-top: 1em;
}

.slide .logos img {
  top: 10px;
  position: relative;
}

.slide li code {
  font-size: 80%;
}

.slide.quotes-grid .quotes {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

.slide.quotes-grid .quotes-description {
  color: #A0AEC0;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  position: absolute;
  bottom: 50px;
  right: 150px;
}

.slide.quotes-grid blockquote {
  font-size: 14px;
  padding: 1em 1.25em;
  background: #E2E8F0;
  border: none;
  border-radius: 5px;
  margin: 20px;
  width: 20em;
  display: inline-block;
  transform: rotate(-20deg);
  box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.3);

  transform: rotate(calc(var(--rotate, 0deg)));
  top: calc(var(--offsetY, 0px));
  left: calc(var(--offsetX, 0px));
  position: relative;
}

.slide.quotes-grid blockquote p {
  margin: 0;
}

.slide.quotes-grid blockquote:nth-child(1) {
  --rotate: -15deg;
  --offsetX: -25px;
  --offsetY: 15px;
}

.slide.quotes-grid blockquote:nth-child(2) {
  --rotate: -5deg;
  --offsetX: -45px;
  --offsetY: -30px;
}

.slide.quotes-grid blockquote:nth-child(3) {
  --rotate: 10deg;
  --offsetX: 10px;
  --offsetY: 5px;
}

.slide.quotes-grid blockquote:nth-child(4) {
  --rotate: 10deg;
  --offsetX: -30px;
  --offsetY: -70px;
}

.slide.quotes-grid blockquote:nth-child(5) {
  --rotate: -15deg;
  --offsetX: -20px;
  --offsetY: -60px;
}

.slide.quotes-grid blockquote:nth-child(6) {
  --rotate: -5deg;
  --offsetX: -20px;
  --offsetY: -100px;
}

.slide .callout .callout-icon {
  display: none;
}

.slide .callout .callout-content p {
  font-size: 70%;
  margin: 0.5em 0.5em 0.5em 0 !important;
}

.slide code {
  font-size: 87%;
}

.slide .pl-1 {
  padding-left: 0.5em !important;
}

.slide .shadow {
  filter: drop-shadow(10px 5px 5px #222);
}

.slide iframe {
  border:1px solid #dce2ea;
  border-radius:5px;
  box-shadow: 0px 5px 10px -8px #999;
}

.slide.smaller p {
  font-size: 70%;
}

.slide .vega-embed details {
  display: none;
}

.slide a code {
  color: var(--r-link-color);
}

.slide.final a {
  color: #fff;
  text-decoration: underline;
}

.slide table.eval_results {
  font-size: 70%;
  margin: 0;
}

.slide table.eval_results caption {
  font-family: monospace;
  text-align: left;
  padding-left: 0.5em;
  border-bottom: 2px solid black;
}

.slide table.eval_results span.small {
  font-size: 60%;
  vertical-align: middle;
}

.slide table.eval_results thead th {
  font-weight: normal;
}

.slide table.eval_results thead strong {
  font-size: 120%;
}

.slide table.eval_results thead code {
  color: #fff;
  background-color: hsl(204, 71%, 39%);
  font-size: 100% !important;
  border-radius: 5px;
  padding: 0.25em 0.5em;
  margin: 0.5em 0.5em 0.5em 0;
  display: inline-block;
}

.slide table.eval_results span.small code {
  color: #666;
  background-color: transparent;
}

.slide table.eval_results tbody td {
  padding-right: 1em;
}

.slide table.eval_results tbody td a {
  color: #000;
}

.slide table.eval_results tbody td a:hover {
  text-decoration: underline;
}

.slide table.eval_results tbody code {
  color: #fff;
  background-color: hsl(0, 0%, 48%);
  font-size: 60% !important;
  padding: 0.25em 0.5em;
  margin-left: 0.5em;
  border-radius: 1em;
}

.slide table.eval_results tbody code.r-5 {
  background-color: hsl(141, 71%, 48%);
}

.slide table.eval_results tbody code.r-4 {
  background-color: hsl(204, 86%, 53%);
}

.slide table.eval_results tbody code.r-3,
.slide table.eval_results tbody code.r-2 {
  color: hsl(0, 0%, 14%);
  background-color: hsl(48, 100%, 67%);
}

.slide table.eval_results tbody code.r-1 {
  background-color: hsl(0, 0%, 29%);
}

.slide table.eval_results tbody code.r-0 {
  background-color: hsl(348, 100%, 61%);
}

.slide table.eval_results tbody code.r-— {
  /* background-color: hsl(348, 100%, 61%); */
  background-color: hsl(0, 0%, 71%);
}

.slide table.eval_results_all {
  font-family: var(--font-family-sans-serif);
}

.slide table.eval_results_all thead th {
  font-size: 22px;
  font-weight: bold;
  text-wrap: nowrap;
  text-align: left;
  width: 50px;
}

.slide table.eval_results_all tbody td {
  font-size: 14px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  width: 50px;
  max-width: 50px;
  overflow: hidden;
  padding: 0.5em 0.5em 0.5em 0.25em;
}

.slide table.eval_results_all th code {
  color: #000;
  background-color: hsl(0, 0%, 90%);
  font-size: 14px !important;
  position: relative;
  bottom: 1px;
}
